openapi: 3.0.0
info:
  title: XBRL US API
  description: "This API defines the XBRL US API. \n\n## Authorization Flow\n\nWe\
    \ use [OAuth2 JWT](https://jwt.io/) flows to secure interactions.\n\n## Example\
    \ Interactions\n\nIn this section, we will provide __CURL__ examples for typical\
    \ __XBRL US API__ flows. Because XBRL US API is sessionless, each \"session\"\
    \ will always begin with the [OAuth2 JWT Access Token Flow](https://jwt.io/introduction).\n\
    \n### Access Token Flow\n\nThis flow shows the steps required to interact with\
    \ the API\n\n1. Send an HTTP `POST` request to the tokenUrl: `/oauth2/token`:\n\
    \  ```http\n  POST /oauth2/token HTTP/1.1 \n  Host: <testapi.xbrl.us> \n  Content-Type:\
    \ application/x-www-form-urlencoded \n  Body: {\n    \"grant_type\": password,\n\
    \    \"client_id\": \"XBRL US Client\",\n    \"client_secret\": \"client secret\"\
    ,\n    \"username\": \"username\",\n    \"password\": \"password\",\n    \"platform\"\
    : pc\n  }\n  ```\n2. Upon a successful authorization grant, the server will respond\
    \ with an `access_token`:\n  ```http\n  HTTP/1.1 200 OK\n  Request URL: <example.com>/oauth2/token\n\
    \  Date: <EEE, dd MMM yyyy HH:mm:ss z>\n  Content-Length: 500\n  Body: {\n   \
    \ \"platform\": \"pc\",\n    \"access_token\": \"eyJ...124nOvc\",\n    \"refresh_token\"\
    : \"eyJ...124nOvc\",\n    \"expires_in\" : 3600,\n    \"refresh_token_expires_in\"\
    : 10800,\n    \"token_type\": \"bearer\"\n  }\n  ```\n3. Add a new `Authorization`\
    \ header with type `Bearer` and the contents of the above `access_token`\n  ```http\n\
    \  GET </some/route> HTTP/1.1\n  Host: <testapi.xbrl.us> \n  Authorization: Bearer\
    \ yJ...124nOvc\n  Content-Type: application/json; charset=utf-8 \n  Body: <...>\n\
    \  ```\n\nOnce an `access_token` has been acquired, use it until it returns a\
    \ `401`. If this occurs, simply request a new token using the credentials from\
    \ before. \n"
  contact:
    name: xbrl.us
    email: support@xbrl.us
  version: V1
servers:
- url: https://api.xbrl.us/
  description: Running this application XBRL US server
security:
- oauth2:
  - ROLE_CLIENT
  - ROLE_USER
tags:
- name: oauth2
  description: Operations to request authorization, receive tokens, and check tokens
- name: Facts
  description: Used to request XBRL Facts
- name: Reports
  description: Used to get information on XBRL reports
- name: Assertions
  description: Used to get information on errors in XBRL reports
- name: Concepts
  description: Used to information about XBRL concepts in a taxonomy
paths:
  /oauth2/token:
    summary: Aquire an access token by fulfilling a client_credentials grant, or a
      password grant
    post:
      tags:
      - oauth2
      description: "Assuming a valid login exists, this route allows a trusted client\
        \ to aquire an access token for itself, or to request an access token for\
        \ a specific user. You may send both `client_credentials` grants and `password`\
        \ grants via the following: \n * __application/x-www-form-urlencoded__\n\n\
        \n__[Read more](https://oauth.net/2/grant-types/)__\n"
      operationId: tokenUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_grant'
            example:
              grant_type: password
              client_id: 1223
              client_secret: xhOEnAX2M...gaIYLXOvCe25Q
              username: campbell.pryde@xbrl.us
              password: someSecurePassword
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_grant'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/authorization_grant'
      responses:
        200:
          description: |
            The authorization grant has been validated, and an access token is granted. __[Read more](https://jwt.io/introduction/)__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: |
            Bad credentials, or could not read credentials due to malformed JSON
             * "Full authentication is required..." -> malformed JSON
             * "Bad client credentials" -> client_id/client_secret pair invalid
             * "Bad credentials" -> username/password pair invalid
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this
                  resource
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security: []
  /api/v1/fact/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      tags:
      - Facts
      description: "Allows searching for _XBRL facts_ based on the attributes of the\
        \ fact, the report it was in or the source of the data.\n## Examples\n\n###\
        \ _-Get all the facts in a document_\n\n\nThe following call will get all\
        \ facts in the report with an id of `226471`. It also limits the records returned\
        \ to `1010` facts, sorts by the concept name and will return the following\
        \ values:\n  * entity.name\n  * dimensions.count\n  * dimensions\n  * entity.cik\n\
        \  * period.fiscal-period\n  * period.end\n  * period.instant\n  * period.year\n\
        \  * concept.local-name.sort(ASC)\n  * fact.numerical-value,fact.limit(1010)\n\
        \  * fact.value,report.source-id\n  * footnote.text\n  * footnote.role\n\n\
        \        https://api.xbrl.us/api/v1/fact/search?report.id=226471&fields=entity.name,dimensions.count,dimensions,entity.cik,period.fiscal-period,period.end,period.instant,period.year,concept.local-name.sort(ASC),fact.numerical-value,fact.limit(1010),fact.value,report.source-id,footnote.text,footnote.role\n\
        \  \n\n### _-Get Operating Cash used by Pharma for the 2017 year_\n\nThe following\
        \ call will get all facts reported for the 2017 year using the concept  `NetCashProvidedByUsedInOperatingActivities`\
        \ reported for the sic code  `3841` which have no dimensions. It also limits\
        \ the records returned to `100` facts and will return the following values:\n\
        \  \n  * fact.numerical-value\n  * period.fiscal-year\n  * period.fiscal-period\n\
        \  \n        https://api.xbrl.us/api/v1/fact/search?period.fiscal-period=Y&fact.ultimus=true&report.sic-code=3841&concept.local-name=NetCashProvidedByUsedInOperatingActivities&period.fiscal-year=2017&dimensions.count=0&fields=fact.numerical-value,period.fiscal-year,period.fiscal-period,fact.limit(100)\n\
        \n    \n"
      operationId: getFactDetails
      parameters:
      - name: concept.id
        in: query
        description: A unique identification id of the concept that can be searched
          on. This is a faster way to retrieve the details of a fact, however it is
          namespace specific and will only search for the use of a concept for a specific
          schema.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: concept.is-base
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is from a base published taxonomy
            or from a company extension. Avalue of true indicates that it is a base
            taxonomy element. This attribute can be used for example to search for
            extension elements in a filing.
      - name: concept.is-monetary
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is a monetary value. If yes the value
            is shown as true. A monetary value is distinguished from a numeric concept
            in that it has a currency associated with it.
      - name: concept.local-name
        in: query
        description: The concept name in the base schema of a taxonomy exluding the
          namespace, such as Assets or Liabilities. Use this to search across multiple
          taxonomies where the local name is known to be consistent over time.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: concept.namespace
        in: query
        description: The namespace of the concept used to identify a fact.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimension.is-base
        in: query
        description: A boolean value that indicates if the dimension (aspect) is a
          base element in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: dimension.local-name
        in: query
        description: Local name of the dimension element.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: dimension.namespace
        in: query
        description: Namespace of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimensions.count
        in: query
        description: The number of dimensional qualifiers associated with a given
          fact. Can provide a list so can get facts with 0, 1, 2 etc dimensions.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: dimensions.id
        in: query
        description: Id of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dts.entry-point
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. A taxonomy can have multiple
          entry points and the resulting set of taxonomies of using an entry point
          is called a dts.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: http://xbrl.fasb.org/us-gaap/2019/entire/us-gaap-entryPoint-all-2019-01-31.xsd
      - name: dts.id
        in: query
        description: The dts identifier for a given group of taxonomies. XBRL facts
          and linkbases are typically associated with a given report that is asscociated
          with a dts.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
        example: 321964
      - name: dts.target-namespace
        in: query
        description: The target namespace of a discoverable taxonomy set. (DTS)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity.cik
        in: query
        description: The CIK is the SEC identifier used to identify a reporting entity.
          This is the CIK associated with a given fact, DTS or report.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: entity.id
        in: query
        description: The internal identifier used to identify an entity. This will
          be replaced with the LEI when teh SEC supports the LEI standard.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.has-dimensions
        in: query
        description: This boolean field indicates if the fact has any dimensions associated
          with it.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.hash
        in: query
        description: The fact hash is derived from the aspect properties of the fact.
          Each fact will have a different hash in a given report. Over time however
          different facts may hav ethe same hash if they are identical. The hash does
          not take into account the value reported for the fact. the fact hash is
          used to determine the ultimus index. By searching on the hash you can identify
          all identical facts that were reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fact.id
        in: query
        description: The unique identifier used to identify a fact.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.is-extended
        in: query
        description: This indicates if the fact is comprised of either an extension
          concept, extension axis or extension member.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus
        in: query
        description: A boolean that indicates if the fact is the latest value reported.  A
          value of true represents that it's the latest value reported.  A value of
          false represents that the value has been superceded with a more recent fact.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus-index
        in: query
        description: An integer that records the incarnation of the fact. The same
          fact is reported many times and the ultimus field captures the incarnation
          that was reported. A value of 1 indicates that this is the latest value
          of the fact. A value of 6 for example would indicate that the value has
          been reported 6 times subsquently to this fact being reported. If requesting
          values from a specific report the ultimus filed would not be used as a search
          parameter as you will not get all the fact values if there has been a subsequent
          report filed, as the ultimus value on these facts in a specific report will
          be updated as additional reports come in.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.value
        in: query
        description: The value of the fact as a text value. This included numerical
          as well as non numerical values reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: member.is-base
        in: query
        description: A boolean value that indicates if the member is a base element
          in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: member.local-name
        in: query
        description: Local Name of the Member.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: member.namespace
        in: query
        description: Namespace of the Member
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.calendar-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The calendar period aligns the periods with a calendar year.
          A company with a year end of 30 September would have a fiscal 4th quarter
          which would be a calendar quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-id
        in: query
        description: The identifier of the fiscal period. Each period has an assigned
          hash which identifies the fiscal period. The hash can be used to search
          for periods that are identical. Periods with the same period and year in
          fact nay be different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.fiscal-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The fiscal period aligns the periods with a fiscal year. A
          company with a year end of 30 September would have a fiscal 4th quarter
          which would be a fiscal quarter of 4Q and a calander quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-year
        in: query
        description: The fiscal year in which the fact is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: period.id
        in: query
        description: The identifier of the calander period. Each period has an assigned
          hash which identifies the period. The hash can be used to search for periods
          that are identical. Periods with the same period and year in fact nay be
          different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.year
        in: query
        description: The calendar year in which the facyt is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.accession
        in: query
        description: The identifier used by the SEC to identify a report. No comma
          seperated values are allowed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.creation-software
        in: query
        description: The creation software that was used to create a report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.entry-url
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. This represents the DTS entry
          point for a specific report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.id
        in: query
        description: The identifier used to identify a report.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.restated
        in: query
        description: A boolean that indicates if the report has been subsequently
          restated.  A value of true represents that the report has been subsequently
          restated by another report.  A value of false means that this report has
          not been subsequently restated by another report.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.restated-index
        in: query
        description: A numerical indicator that can be used to identify if a report
          has been restated. If the value is 1 it indicates that this is the latest
          report. If the value is 2 it means that an updated copy of the report has
          been filed.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.sec-url
        in: query
        description: The url at which the details of a filing can be accessed from
          the SEC Edgar system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.sic-code
        in: query
        description: Integer that representsthe Standard Industrial Classification
          (SIC) code used by the SEC in the United States.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: report.source-id
        in: query
        description: Id of the filing program.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: report.source-name
        in: query
        description: Name of the source of the Data such as SEC.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: unit
        in: query
        description: The unit of measure associated with the fact, such as USD.
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: fields
        in: query
        description: List of concepts to return.
        required: true
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/fact_fields'
      responses:
        200:
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          links:
            GetfactId:
              operationId: getFactBasedOnFactID
              parameters:
                fact.id: $response.body#/data/fact.id
              description: |
                The `fact.id` value returned in the response can be used as the `factId` parameter in `/api/v1/fact/{fact.id}`.
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/fact/{fact.id}:
    summary: Request fact from XBRL filings based on its unique fact identifier.
    get:
      tags:
      - Facts
      description: |
        Allows searching for _XBRL facts_ based on the fact ID attribute of the fact.
      operationId: getFactBasedOnFactID
      parameters:
      - name: fact.id
        in: path
        description: Id of the fact defined by the API.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: fields
        in: query
        description: List of fact components that can be searched on.
        required: true
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/fact_fields'
      responses:
        200:
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/fact/oim/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      tags:
      - Facts
      description: |
        Returns fact details in the OIM JSON format
      operationId: getFactDetailsInOIMFormat
      parameters:
      - name: concept.id
        in: query
        description: A unique identification id of the concept that can be searched
          on. This is a faster way to retrieve the details of a fact, however it is
          namespace specific and will only search for the use of a concept for a specific
          schema.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: concept.is-base
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is from a base published taxonomy
            or from a company extension. Avalue of true indicates that it is a base
            taxonomy element. This attribute can be used for example to search for
            extension elements in a filing.
      - name: concept.is-monetary
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is a monetary value. If yes the value
            is shown as true. A monetary value is distinguished from a numeric concept
            in that it has a currency associated with it.
      - name: concept.local-name
        in: query
        description: The concept name in the base schema of a taxonomy exluding the
          namespace, such as Assets or Liabilities. Use this to search across multiple
          taxonomies where the local name is known to be consistent over time.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: concept.namespace
        in: query
        description: The namespace of the concept used to identify a fact.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimension.is-base
        in: query
        description: A boolean value that indicates if the dimension (aspect) is a
          base element in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: dimension.local-name
        in: query
        description: Local name of the dimension element.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: dimension.namespace
        in: query
        description: Namespace of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimensions.count
        in: query
        description: The number of dimensional qualifiers associated with a given
          fact. Can provide a list so can get facts with 0, 1, 2 etc dimensions.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: dimensions.id
        in: query
        description: Id of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dts.entry-point
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. A taxonomy can have multiple
          entry points and the resulting set of taxonomies of using an entry point
          is called a dts.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: http://xbrl.fasb.org/us-gaap/2019/entire/us-gaap-entryPoint-all-2019-01-31.xsd
      - name: dts.id
        in: query
        description: The dts identifier for a given group of taxonomies. XBRL facts
          and linkbases are typically associated with a given report that is asscociated
          with a dts.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
        example: 321964
      - name: dts.target-namespace
        in: query
        description: The target namespace of a discoverable taxonomy set. (DTS)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity.cik
        in: query
        description: The CIK is the SEC identifier used to identify a reporting entity.
          This is the CIK associated with a given fact, DTS or report.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: entity.id
        in: query
        description: The internal identifier used to identify an entity. This will
          be replaced with the LEI when teh SEC supports the LEI standard.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.has-dimensions
        in: query
        description: This boolean field indicates if the fact has any dimensions associated
          with it.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.hash
        in: query
        description: The fact hash is derived from the aspect properties of the fact.
          Each fact will have a different hash in a given report. Over time however
          different facts may hav ethe same hash if they are identical. The hash does
          not take into account the value reported for the fact. the fact hash is
          used to determine the ultimus index. By searching on the hash you can identify
          all identical facts that were reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fact.id
        in: query
        description: The unique identifier used to identify a fact.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.is-extended
        in: query
        description: This indicates if the fact is comprised of either an extension
          concept, extension axis or extension member.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus
        in: query
        description: A boolean that indicates if the fact is the latest value reported.  A
          value of true represents that it's the latest value reported.  A value of
          false represents that the value has been superceded with a more recent fact.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus-index
        in: query
        description: An integer that records the incarnation of the fact. The same
          fact is reported many times and the ultimus field captures the incarnation
          that was reported. A value of 1 indicates that this is the latest value
          of the fact. A value of 6 for example would indicate that the value has
          been reported 6 times subsquently to this fact being reported. If requesting
          values from a specific report the ultimus filed would not be used as a search
          parameter as you will not get all the fact values if there has been a subsequent
          report filed, as the ultimus value on these facts in a specific report will
          be updated as additional reports come in.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.value
        in: query
        description: The value of the fact as a text value. This included numerical
          as well as non numerical values reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: member.is-base
        in: query
        description: A boolean value that indicates if the member is a base element
          in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: member.local-name
        in: query
        description: Local Name of the Member.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: member.namespace
        in: query
        description: Namespace of the Member
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.calendar-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The calendar period aligns the periods with a calendar year.
          A company with a year end of 30 September would have a fiscal 4th quarter
          which would be a calendar quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-id
        in: query
        description: The identifier of the fiscal period. Each period has an assigned
          hash which identifies the fiscal period. The hash can be used to search
          for periods that are identical. Periods with the same period and year in
          fact nay be different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.fiscal-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The fiscal period aligns the periods with a fiscal year. A
          company with a year end of 30 September would have a fiscal 4th quarter
          which would be a fiscal quarter of 4Q and a calander quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-year
        in: query
        description: The fiscal year in which the fact is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: period.id
        in: query
        description: The identifier of the calander period. Each period has an assigned
          hash which identifies the period. The hash can be used to search for periods
          that are identical. Periods with the same period and year in fact nay be
          different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.year
        in: query
        description: The calendar year in which the facyt is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.accession
        in: query
        description: The identifier used by the SEC to identify a report. No comma
          seperated values are allowed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.creation-software
        in: query
        description: The creation software that was used to create a report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.entry-url
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. This represents the DTS entry
          point for a specific report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.id
        in: query
        description: The identifier used to identify a report.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.restated
        in: query
        description: A boolean that indicates if the report has been subsequently
          restated.  A value of true represents that the report has been subsequently
          restated by another report.  A value of false means that this report has
          not been subsequently restated by another report.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.restated-index
        in: query
        description: A numerical indicator that can be used to identify if a report
          has been restated. If the value is 1 it indicates that this is the latest
          report. If the value is 2 it means that an updated copy of the report has
          been filed.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.sec-url
        in: query
        description: The url at which the details of a filing can be accessed from
          the SEC Edgar system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.sic-code
        in: query
        description: Integer that representsthe Standard Industrial Classification
          (SIC) code used by the SEC in the United States.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: report.source-id
        in: query
        description: Id of the filing program.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: report.source-name
        in: query
        description: Name of the source of the Data such as SEC.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: unit
        in: query
        description: The unit of measure associated with the fact, such as USD.
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        200:
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/report/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      tags:
      - Reports
      description: |
        Allows searching for _XBRL reports_ based on the attributes of the report.
      operationId: getReportDetails
      parameters:
      - name: dts.id
        in: query
        description: The dts identifier for a given group of taxonomies. XBRL facts
          and linkbases are typically associated with a given report that is asscociated
          with a dts.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
        example: 321964
      - name: entity.cik
        in: query
        description: The CIK is the SEC identifier used to identify a reporting entity.
          This is the CIK associated with a given fact, DTS or report.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: entity.id
        in: query
        description: The internal identifier used to identify an entity. This will
          be replaced with the LEI when teh SEC supports the LEI standard.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: entity.ticker
        in: query
        description: The ticker assocciated with an entity.  Even though a company
          may have multiple tickers this just returns one.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: report.accession
        in: query
        description: The identifier used by the SEC to identify a report. No comma
          seperated values are allowed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.document-type
        in: query
        description: The document type of the report such as 10-K or 10-Q
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: report.entity-name
        in: query
        description: The name of the entity reporting. Enter the full entity nam,e
          or a portion of the entity name.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.entry-type
        in: query
        description: Indicates the format of the XBRL report. It could be instance,
          inline, json etc.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - instance
          - inline
      - name: report.entry-url
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. This represents the DTS entry
          point for a specific report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.filer-category
        in: query
        description: "Filer category of the filer. Can be either one of the following:\
          \  \n  - Large Accelerated Filer  \n  - Accelerated Filer  \n  - Non-accelerated\
          \ Filer  \n      \n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Large Accelerated Filer
          - Accelerated Filer
          - Non-accelerated Filer
      - name: report.id
        in: query
        description: The identifier used to identify a report.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.is-most-current
        in: query
        description: A value of true indicates that this is the most current report
          available.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.period-index
        in: query
        description: Allows the retrieval of reports other than most current. A value
          of 1 gets the latest report. A value of 2 gets the second to last report
          etc.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.restated
        in: query
        description: A boolean that indicates if the report has been subsequently
          restated.  A value of true represents that the report has been subsequently
          restated by another report.  A value of false means that this report has
          not been subsequently restated by another report.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.restated-index
        in: query
        description: A numerical indicator that can be used to identify if a report
          has been restated. If the value is 1 it indicates that this is the latest
          report. If the value is 2 it means that an updated copy of the report has
          been filed.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.sec-url
        in: query
        description: The url at which the details of a filing can be accessed from
          the SEC Edgar system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.sic-code
        in: query
        description: Integer that representsthe Standard Industrial Classification
          (SIC) code used by the SEC in the United States.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: report.source-id
        in: query
        description: Id of the filing program.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: report.source-name
        in: query
        description: Name of the source of the Data such as SEC.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: List of concepts to return.
        required: true
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/report_fields'
      responses:
        200:
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/report/{report.id}:
    summary: Request report from XBRL filings based on report id parameters.
    get:
      tags:
      - Reports
      description: |
        Allows searching for _XBRL reports_ based on the report id attribute of the report.
      operationId: getReportDetailsById
      parameters:
      - name: report.id
        in: path
        description: Id of the report defined by the API.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: fields
        in: query
        description: List of concepts to return.
        required: true
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/report_fields'
      responses:
        200:
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/report/{report.id}/fact/search:
    summary: Request report from XBRL filings based on report id parameters.
    get:
      tags:
      - Reports
      description: |
        Allows searching for _XBRL reports_ based on the report id attribute of the report and to return certain facts associated with that report.  The attributes of those facts can be used as search parameters.
      operationId: getReportFactDetailsById
      parameters:
      - name: report.id
        in: query
        description: The identifier used to identify a report.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: concept.id
        in: query
        description: A unique identification id of the concept that can be searched
          on. This is a faster way to retrieve the details of a fact, however it is
          namespace specific and will only search for the use of a concept for a specific
          schema.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: concept.is-base
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is from a base published taxonomy
            or from a company extension. Avalue of true indicates that it is a base
            taxonomy element. This attribute can be used for example to search for
            extension elements in a filing.
      - name: concept.is-monetary
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is a monetary value. If yes the value
            is shown as true. A monetary value is distinguished from a numeric concept
            in that it has a currency associated with it.
      - name: concept.local-name
        in: query
        description: The concept name in the base schema of a taxonomy exluding the
          namespace, such as Assets or Liabilities. Use this to search across multiple
          taxonomies where the local name is known to be consistent over time.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: concept.namespace
        in: query
        description: The namespace of the concept used to identify a fact.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimension.is-base
        in: query
        description: A boolean value that indicates if the dimension (aspect) is a
          base element in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: dimension.local-name
        in: query
        description: Local name of the dimension element.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: dimension.namespace
        in: query
        description: Namespace of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimensions.count
        in: query
        description: The number of dimensional qualifiers associated with a given
          fact. Can provide a list so can get facts with 0, 1, 2 etc dimensions.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: dimensions.id
        in: query
        description: Id of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dts.entry-point
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. A taxonomy can have multiple
          entry points and the resulting set of taxonomies of using an entry point
          is called a dts.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: http://xbrl.fasb.org/us-gaap/2019/entire/us-gaap-entryPoint-all-2019-01-31.xsd
      - name: dts.id
        in: query
        description: The dts identifier for a given group of taxonomies. XBRL facts
          and linkbases are typically associated with a given report that is asscociated
          with a dts.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
        example: 321964
      - name: dts.target-namespace
        in: query
        description: The target namespace of a discoverable taxonomy set. (DTS)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity.cik
        in: query
        description: The CIK is the SEC identifier used to identify a reporting entity.
          This is the CIK associated with a given fact, DTS or report.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: entity.id
        in: query
        description: The internal identifier used to identify an entity. This will
          be replaced with the LEI when teh SEC supports the LEI standard.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.has-dimensions
        in: query
        description: This boolean field indicates if the fact has any dimensions associated
          with it.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.hash
        in: query
        description: The fact hash is derived from the aspect properties of the fact.
          Each fact will have a different hash in a given report. Over time however
          different facts may hav ethe same hash if they are identical. The hash does
          not take into account the value reported for the fact. the fact hash is
          used to determine the ultimus index. By searching on the hash you can identify
          all identical facts that were reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fact.id
        in: query
        description: The unique identifier used to identify a fact.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.is-extended
        in: query
        description: This indicates if the fact is comprised of either an extension
          concept, extension axis or extension member.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus
        in: query
        description: A boolean that indicates if the fact is the latest value reported.  A
          value of true represents that it's the latest value reported.  A value of
          false represents that the value has been superceded with a more recent fact.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus-index
        in: query
        description: An integer that records the incarnation of the fact. The same
          fact is reported many times and the ultimus field captures the incarnation
          that was reported. A value of 1 indicates that this is the latest value
          of the fact. A value of 6 for example would indicate that the value has
          been reported 6 times subsquently to this fact being reported. If requesting
          values from a specific report the ultimus filed would not be used as a search
          parameter as you will not get all the fact values if there has been a subsequent
          report filed, as the ultimus value on these facts in a specific report will
          be updated as additional reports come in.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.value
        in: query
        description: The value of the fact as a text value. This included numerical
          as well as non numerical values reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: member.is-base
        in: query
        description: A boolean value that indicates if the member is a base element
          in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: member.local-name
        in: query
        description: Local Name of the Member.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: member.namespace
        in: query
        description: Namespace of the Member
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.calendar-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The calendar period aligns the periods with a calendar year.
          A company with a year end of 30 September would have a fiscal 4th quarter
          which would be a calendar quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-id
        in: query
        description: The identifier of the fiscal period. Each period has an assigned
          hash which identifies the fiscal period. The hash can be used to search
          for periods that are identical. Periods with the same period and year in
          fact nay be different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.fiscal-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The fiscal period aligns the periods with a fiscal year. A
          company with a year end of 30 September would have a fiscal 4th quarter
          which would be a fiscal quarter of 4Q and a calander quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-year
        in: query
        description: The fiscal year in which the fact is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: period.id
        in: query
        description: The identifier of the calander period. Each period has an assigned
          hash which identifies the period. The hash can be used to search for periods
          that are identical. Periods with the same period and year in fact nay be
          different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.year
        in: query
        description: The calendar year in which the facyt is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.accession
        in: query
        description: The identifier used by the SEC to identify a report. No comma
          seperated values are allowed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.creation-software
        in: query
        description: The creation software that was used to create a report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.entry-url
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. This represents the DTS entry
          point for a specific report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.restated
        in: query
        description: A boolean that indicates if the report has been subsequently
          restated.  A value of true represents that the report has been subsequently
          restated by another report.  A value of false means that this report has
          not been subsequently restated by another report.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.restated-index
        in: query
        description: A numerical indicator that can be used to identify if a report
          has been restated. If the value is 1 it indicates that this is the latest
          report. If the value is 2 it means that an updated copy of the report has
          been filed.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.sec-url
        in: query
        description: The url at which the details of a filing can be accessed from
          the SEC Edgar system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.sic-code
        in: query
        description: Integer that representsthe Standard Industrial Classification
          (SIC) code used by the SEC in the United States.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: report.source-id
        in: query
        description: Id of the filing program.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: report.source-name
        in: query
        description: Name of the source of the Data such as SEC.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: unit
        in: query
        description: The unit of measure associated with the fact, such as USD.
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: fields
        in: query
        description: List of concepts to return.
        required: true
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/report_and_fact_fields'
      responses:
        200:
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/report/fact/search:
    summary: Request report from XBRL filings based on report id parameters.
    get:
      tags:
      - Reports
      description: |
        Allows searching for _XBRL reports_ based on any  report search attributes of the report and to return certain facts associated with that report.  The attributes of those facts can be used as search parameters.
      operationId: getReportFactDetailsBySearch
      parameters:
      - name: concept.id
        in: query
        description: A unique identification id of the concept that can be searched
          on. This is a faster way to retrieve the details of a fact, however it is
          namespace specific and will only search for the use of a concept for a specific
          schema.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: concept.is-base
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is from a base published taxonomy
            or from a company extension. Avalue of true indicates that it is a base
            taxonomy element. This attribute can be used for example to search for
            extension elements in a filing.
      - name: concept.is-monetary
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Identifies if the concept is a monetary value. If yes the value
            is shown as true. A monetary value is distinguished from a numeric concept
            in that it has a currency associated with it.
      - name: concept.local-name
        in: query
        description: The concept name in the base schema of a taxonomy exluding the
          namespace, such as Assets or Liabilities. Use this to search across multiple
          taxonomies where the local name is known to be consistent over time.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: concept.namespace
        in: query
        description: The namespace of the concept used to identify a fact.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimension.is-base
        in: query
        description: A boolean value that indicates if the dimension (aspect) is a
          base element in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: dimension.local-name
        in: query
        description: Local name of the dimension element.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: dimension.namespace
        in: query
        description: Namespace of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dimensions.id
        in: query
        description: Id of the dimension.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dts.entry-point
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. A taxonomy can have multiple
          entry points and the resulting set of taxonomies of using an entry point
          is called a dts.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: http://xbrl.fasb.org/us-gaap/2019/entire/us-gaap-entryPoint-all-2019-01-31.xsd
      - name: dts.id
        in: query
        description: The dts identifier for a given group of taxonomies. XBRL facts
          and linkbases are typically associated with a given report that is asscociated
          with a dts.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
        example: 321964
      - name: dts.target-namespace
        in: query
        description: The target namespace of a discoverable taxonomy set. (DTS)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity.cik
        in: query
        description: The CIK is the SEC identifier used to identify a reporting entity.
          This is the CIK associated with a given fact, DTS or report.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: entity.id
        in: query
        description: The internal identifier used to identify an entity. This will
          be replaced with the LEI when teh SEC supports the LEI standard.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: entity.ticker
        in: query
        description: The ticker assocciated with an entity.  Even though a company
          may have multiple tickers this just returns one.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: fact.has-dimensions
        in: query
        description: This boolean field indicates if the fact has any dimensions associated
          with it.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.hash
        in: query
        description: The fact hash is derived from the aspect properties of the fact.
          Each fact will have a different hash in a given report. Over time however
          different facts may hav ethe same hash if they are identical. The hash does
          not take into account the value reported for the fact. the fact hash is
          used to determine the ultimus index. By searching on the hash you can identify
          all identical facts that were reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fact.id
        in: query
        description: The unique identifier used to identify a fact.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.is-extended
        in: query
        description: This indicates if the fact is comprised of either an extension
          concept, extension axis or extension member.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.ultimus-index
        in: query
        description: An integer that records the incarnation of the fact. The same
          fact is reported many times and the ultimus field captures the incarnation
          that was reported. A value of 1 indicates that this is the latest value
          of the fact. A value of 6 for example would indicate that the value has
          been reported 6 times subsquently to this fact being reported. If requesting
          values from a specific report the ultimus filed would not be used as a search
          parameter as you will not get all the fact values if there has been a subsequent
          report filed, as the ultimus value on these facts in a specific report will
          be updated as additional reports come in.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: fact.ultimus
        in: query
        description: A boolean that indicates if the fact is the latest value reported.  A
          value of true represents that it's the latest value reported.  A value of
          false represents that the value has been superceded with a more recent fact.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fact.value
        in: query
        description: The value of the fact as a text value. This included numerical
          as well as non numerical values reported.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: member.is-base
        in: query
        description: A boolean value that indicates if the member is a base element
          in the reporting taxonomy or a company extension.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: member.local-name
        in: query
        description: Local Name of the Member.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: member.namespace
        in: query
        description: Namespace of the Member
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.calendar-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The calendar period aligns the periods with a calendar year.
          A company with a year end of 30 September would have a fiscal 4th quarter
          which would be a calendar quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-id
        in: query
        description: The identifier of the fiscal period. Each period has an assigned
          hash which identifies the fiscal period. The hash can be used to search
          for periods that are identical. Periods with the same period and year in
          fact nay be different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.fiscal-period
        in: query
        description: The period identifier for the fact such as year(Y) quarters such
          as (1Q,2Q,3Q,4Q), cumulative quarters such as 3QCUM, and half years such
          as 1H and 2H. The fiscal period aligns the periods with a fiscal year. A
          company with a year end of 30 September would have a fiscal 4th quarter
          which would be a fiscal quarter of 4Q and a calander quarter of 3Q.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Y
            - 1Q
            - 2Q
            - 3Q
            - 4Q
            - 3QCUM
            - 1H
            - 2H
      - name: period.fiscal-year
        in: query
        description: The fiscal year in which the fact is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: period.id
        in: query
        description: The identifier of the calander period. Each period has an assigned
          hash which identifies the period. The hash can be used to search for periods
          that are identical. Periods with the same period and year in fact nay be
          different as the fiscal periods and years are approximations.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period.year
        in: query
        description: The calendar year in which the facyt is applicable.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.accession
        in: query
        description: The identifier used by the SEC to identify a report. No comma
          seperated values are allowed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.creation-software
        in: query
        description: The creation software that was used to create a report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.document-type
        in: query
        description: The document type of the report such as 10-K or 10-Q
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: report.entity-name
        in: query
        description: The name of the entity reporting. Enter the full entity nam,e
          or a portion of the entity name.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.entry-type
        in: query
        description: Indicates the format of the XBRL report. It could be instance,
          inline, json etc.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - instance
          - inline
      - name: report.entry-url
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. This represents the DTS entry
          point for a specific report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.filer-category
        in: query
        description: "Filer category of the filer. Can be either one of the following:\
          \  \n  - Large Accelerated Filer  \n  - Accelerated Filer  \n  - Non-accelerated\
          \ Filer  \n      \n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Large Accelerated Filer
          - Accelerated Filer
          - Non-accelerated Filer
      - name: report.id
        in: query
        description: The identifier used to identify a report.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.is-most-current
        in: query
        description: A value of true indicates that this is the most current report
          available.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.period-index
        in: query
        description: Allows the retrieval of reports other than most current. A value
          of 1 gets the latest report. A value of 2 gets the second to last report
          etc.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.restated-index
        in: query
        description: A numerical indicator that can be used to identify if a report
          has been restated. If the value is 1 it indicates that this is the latest
          report. If the value is 2 it means that an updated copy of the report has
          been filed.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.restated
        in: query
        description: A boolean that indicates if the report has been subsequently
          restated.  A value of true represents that the report has been subsequently
          restated by another report.  A value of false means that this report has
          not been subsequently restated by another report.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.sec-url
        in: query
        description: The url at which the details of a filing can be accessed from
          the SEC Edgar system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.sic-code
        in: query
        description: Integer that representsthe Standard Industrial Classification
          (SIC) code used by the SEC in the United States.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: report.source-id
        in: query
        description: Id of the filing program.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: report.source-name
        in: query
        description: Name of the source of the Data such as SEC.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: unit
        in: query
        description: The unit of measure associated with the fact, such as USD.
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: fields
        in: query
        description: List of concepts to return.
        required: true
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/report_details_with_facts'
      responses:
        200:
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        400:
          description: "Malformed request or missing fields. Check that Content-Type\
            \ matches the format/encoding, and that all required fields are spelled\
            \ correctly, have correct types, and valid values. \n"
          content:
            applications/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: bad_request
                error_description: Missing a field 'xxx'
        401:
          description: The token is invalid, expired, or corrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: unauthorized,
                error_description: Cannot convert access token to JSON
        405:
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: method_not_allowed
                error_description: Request method 'DELETE' not supported
        500:
          description: Internal error, not the fault of the client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_message'
              example:
                error: internal_error
                error_description: Unknown error, try again later
      security:
      - bearerAuth: []
  /api/v1/entity/{entity.id}/report/search:
    summary: Request entity information based on the entity identifier. The entity
      ID is an internal id used by the API.
    get:
      tags:
      - Entity
      description: |
        Allows searching for _Entities_ based on the entity identifier associated with the reporting entity. Use this to get entity and report information for the known entity.
      operationId: getEntityReportDetailsBasedOnID
      parameters:
      - name: entity.id
        in: path
        description: Id of the entity defined by the API.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: report.source-id
        in: query
        description: Id of the filing program.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: report.source-name
        in: query
        description: Name of the source of the Data such as SEC.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.accession
        in: query
        description: The identifier used by the SEC to identify a report. No comma
          seperated values are allowed.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.id
        in: query
        description: The identifier used to identify a report.
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
      - name: report.document-type
        in: query
        description: The document type of the report such as 10-K or 10-Q
        required: false
        allowEmptyValue: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: report.entry-type
        in: query
        description: Indicates the format of the XBRL report. It could be instance,
          inline, json etc.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - instance
          - inline
      - name: report.entry-url
        in: query
        description: The url entry point of a discoverable taxonomy set. This is also
          referred to as the entry point for a taxonomy. This represents the DTS entry
          point for a specific report.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report.filer-category
        in: query
        description: "Filer category of the filer. Can be either one of the following:\
          \  \n  - Large Accelerated Filer  \n  - Accelerated Filer  \n  - Non-accelerated\
          \ Filer  \n      \n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Large Accelerated Filer
          - Accelerated Filer
          - Non-accelerated Filer
      - name: report.is-most-current
        in: query
        description: A value of true indicates that this is the most current report
          available.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: report.period-index
        in: query
        description: Allows the retrieval of reports other than most current. A value
          of 1 gets the latest report. A value of 2 gets the second to last report
          etc.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: report.restated
        in: query
        description: A boolean that indicates if the report has been subsequently
          restated.  A value of true represents that the report has been subsequently
          restated by another report.  A value of false means that this report has
[...]
