openapi: 3.0.0
# XBRL US API
servers:
  - description: Running this application XBRL US server
    url: 'https://api.xbrl.us'
info:
  version: "V1"
  title: XBRL US API
  description: |
    This API defines the XBRL US API -V4 

    ## Authorization Flow

    We use [OAuth2 JWT](https://jwt.io/) flows to secure interactions.

    ## Example Interactions

    In this section, we will provide __CURL__ examples for typical __XBRL US API__ flows. Because XBRL US API is sessionless, each "session" will always begin with the [OAuth2 JWT Access Token Flow](https://jwt.io/introduction).

    ### Access Token Flow

    This flow shows the steps required to interact with the API

    1. Send an HTTP `POST` request to the tokenUrl: `/oauth2/token`:
      ```http
      POST /oauth2/token HTTP/1.1 
      Host: <api.xbrl.us> 
      Content-Type: application/x-www-form-urlencoded 
      Body: {
        "grant_type": password,
        "client_id": "XBRL US Client",
        "client_secret": "client secret",
        "username": "username",
        "password": "password",
        "platform": pc
      }
      ```
    2. Upon a successful authorization grant, the server will respond with an `access_token`:
      ```http
      HTTP/1.1 200 OK
      Request URL: <example.com>/oauth2/token
      Date: <EEE, dd MMM yyyy HH:mm:ss z>
      Content-Length: 500
      Body: {
        "platform": "pc",
        "access_token": "eyJ...124nOvc",
        "refresh_token": "eyJ...124nOvc",
        "expires_in" : 3600,
        "refresh_token_expires_in": 10800,
        "token_type": "bearer"
      }
      ```
    3. Add a new `Authorization` header with type `Bearer` and the contents of the above `access_token`
      ```http
      GET </some/route> HTTP/1.1
      Host: <api.xbrl.us> 
      Authorization: Bearer yJ...124nOvc
      Content-Type: application/json; charset=utf-8 
      Body: <...>
      ```

    Once an `access_token` has been acquired, use it until it returns a `401`. If this occurs, simply request a new token using the credentials from before. 


  
  contact:
    name: xbrl.us
    email: support@xbrl.us
tags:
  - name: oauth2
    description: Operations to request authorization, receive tokens, and check tokens
  - name: Facts
    description: Used to request XBRL Facts
  - name: Reports
    description: Used to get information on XBRL reports
  - name: Assertions
    description: Used to get information on errors in XBRL reports
  - name: Concepts
    description: Used to information about XBRL concepts in a taxonomy
security:
  - oauth2: [ROLE_CLIENT, ROLE_USER]
paths:
  /oauth2/token:
    summary: Aquire an access token by fulfilling a client_credentials grant, or a password grant
    post:
      operationId: tokenUrl
      tags: [oauth2]
      security: []
      description: >
        Assuming a valid login exists, this route allows a trusted client to aquire an access token for itself, or to request an access token for a specific user. You may send both `client_credentials` grants and `password` grants via the following: 
         * __application/x-www-form-urlencoded__


        __[Read more](https://oauth.net/2/grant-types/)__
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_grant'
            example:
              grant_type: password
              client_id: 1223
              client_secret: xhOEnAX2M...gaIYLXOvCe25Q
              username: campbell.pryde@xbrl.us
              password: someSecurePassword
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_grant'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/authorization_grant'
      responses:
        '200':
          description: > 
            The authorization grant has been validated, and an access token is granted. __[Read more](https://jwt.io/introduction/)__
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform :
                    type: string
                    example: pc
                  access_token:
                    type: string
                    format: byte
                    example: eyJ...124nOvc
                    description: A JWT access token. __[Read more](https://jwt.io/)__
                  refresh_token:
                    type: string
                    format: byte
                    example: eyJ...124nOvc
                    description: A JWT access token. __[Read more](https://jwt.io/)__
                  expires_in:
                    type: integer
                    example: 3600
                  refresh_token_expires_in:
                    type: integer
                    example: 3600
                  token_type:
                    type: string
                    example: bearer
                    description: >
                      The token_type will always be bearer. The access_token is considered a bearer token, and thus should be placed in all subqequent requests to the resource endpoints by using the following header:
                        * Authorization: Bearer [token]
                  
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
 
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: /oauth2/token
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    
  schemas:
    authorization_grant:
      type: object
      required: [grant_type, client_id, client_secret]
      properties:
        grant_type:
          type: string
          example: password
          description: >
            Used to identify which credentials the authorization server needs to check
              * `client_credentials` - Requires a client_id and client_secret only
              * `password` - Requires a username and password as well as client_id and client_secret
        client_id:
          type: string
          example: XBRL US
          description: Unique identifier agreed upon by **XBRL US** and the 3rd party client
        client_secret:
          type: string
          example: xhOEnAX2M...gaIYLXOvCe25Q
          format: byte
          description: Base64 key used to authenticate the 3rd party client
        username:
          type: string
          example: campbell.pryde@xbrl.us
          description: Unique identifier for a given user
        password:
          type: string
          example: someSecurePassword
          description: Password used to authenticate the 3rd party user
        platform:
          type: string
          example: pc
          description: just required
    error_message:
      type: object
      properties:
        error:
          type: string
          description: Identifier for the error
        error_description:
          type: string
          description: Adds more details to the error
    
  responses:
    bad_request:
      description: >
        Malformed request or missing fields. Check that Content-Type matches the format/encoding, and that all required fields are spelled correctly, have correct types, and valid values. 
      content:
        applications/json:
          schema:
            $ref: '#/components/schemas/error_message'
          example:
            error: bad_request
            error_description: Missing a field 'xxx'
    bad_token:
      description: The token is invalid, expired, or corrupted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_message'
          example:
            error: unauthorized,
            error_description: Cannot convert access token to JSON
    unauthorized:
      description: >
        Bad credentials, or could not read credentials due to malformed JSON
         * "Full authentication is required..." -> malformed JSON
         * "Bad client credentials" -> client_id/client_secret pair invalid
         * "Bad credentials" -> username/password pair invalid
      content:
        applications/json:
          schema:
            $ref: '#/components/schemas/error_message'
          example:
            error: unauthorized
            error_description: Full authentication is required to access this resource
    not_found:
      description: This resource doesn't exist or you don't have the permissions to view it
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_message'
          example: 
            error: not_found
            error_description: An entity with that name could not be found
    method_not_allowed:
      description: Method not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_message'
          example: 
            error: method_not_allowed
            error_description: Request method 'DELETE' not supported
    internal_server_error:
      description: Internal error, not the fault of the client
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_message'
          example: 
            error: internal_error
            error_description: Unknown error, try again later